@page
@model AccountModel
@{
}

<h1>Account Page for User  @HttpContext.User.Identity.Name: </h1>

@if (HttpContext.User.IsInRole("Manager"))
{
    <h2>Manager</h2>
}


<style>
    #customerInfo {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: larger;
        border-collapse: collapse;
        width: 100%;
    }

        #customerInfo td, #customerInfo th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customerInfo tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customerInfo tr:hover {
            background-color: #ddd;
        }

        #customerInfo th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>

<div>
    <form method="post">
        <table id="customerInfo" style="width: 100%; border:1px solid black; padding: 15px">
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="Fname" value="@Model.selectFname" /></td>
            </tr>
            <tr>
                <td>Middle Name</td>
                <td><input type="text" name="Mname" value="@Model.selectMname" /></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="Lname" value="@Model.selectLname" /></td>
            </tr>
            <tr>
                <td>Street</td>
                <td><input type="text" name="StreetAddress" value="@Model.selectStreetAddress" /></td>
            </tr>
            <tr>
                <td>City</td>
                <td><input type="text" name="CityAddress" value="@Model.selectCityAddress" /></td>
            </tr>
            <tr>
                <td>Zip</td>
                <td><input type="text" name="ZipAddress" value="@Model.selectZipAddress" /></td>
            </tr>
            <tr>
                <td>State</td>
                <td><input type="text" name="StateAddress" value="@Model.selectStateAddress" /></td>
            </tr>
            <tr>
                <td>Phone #</td>
                <td><input type="text" name="Phone" value="@Model.selectPhone" /></td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td><input type="text" name="Email" value="@Model.selectEmail" /></td>
            </tr>
            <tr>
                <td>Membership Type</td>
                <td>@Model.selectMembership</td>
            </tr>
            <tr>
                <td>Expiration Date</td>
                <td>@Model.selectExpiration</td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Submit" />
    </form>
</div>

<p>@Model.selectFname</p>
<p>@Model.AMessage</p>
<p>@Model.selectCommand</p>
<p>@Model.updateCommand</p>