@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div style="background-image:url('https://nationalzoo.si.edu/sites/default/files/styles/1400x700_scale_and_crop/public/animals/sumatrantiger-001.jpg?itok=x9w4Ayrb'); background-size:cover; background-position:center; background-repeat:no-repeat; width:100%; height:600px;"></div>

<h1>Hello group 14</h1>
<div>Now deployed through github</div>
<h2>Adam's Header</h2>
<p>@Model.AInt @Model.AMessage</p>
<p>@Model.BMessage</p>
@{

    for (int i = 0; i < Model.AnimalIDs.Count - 1; i++)
    {
        <p>@Model.AnimalIDs[i]</p>
    }
}

<h2>Printing all tuples in Title_Type</h2>

<!-- Table for results of Title_type-->
<table style="width:100%">
    <!-- Column Names-->
    <tr>
        <th>ID</th>
        <th>Type</th>
    </tr>

    <!-- Column Values-->
    @for (int i = 0; i < Model.IDResults.Count; i++)
    {
        <tr>
            <th>@Model.IDResults[i]</th>
            <th>@Model.TypeResults[i]</th>
        </tr>
    }
</table>

<br /><br />
<p>@Model.AInt @Model.AMessage</p>
<p>@Model.BMessage</p>

<!-- trying to figure out a way to insert based on value in inputs-->

<input id="iID" type="text" value="ID"><br>
<input id="iType" type="text" value="Type"><br>
<input type="submit" value="Submit" onclick="InsertValues()">


<p id="myID"></p>
<p id="myType"></p>

<script>

    function InsertValues() {
        document.getElementById("myID").innerHTML = document.getElementById("iID").value;
        document.getElementById("myType").innerHTML = document.getElementById("iType").value;

       @Model.AMessage;
    }


</script>
