@page
@model SalesReportsModel
@{
}
<script src="~/js/moment.js"></script>
<script src="~/js/Chart.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<style>
    #sales, #report {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #sales td, #sales th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #sales tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #sales tr:hover {
            background-color: #ddd;
        }

        #sales th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    #sales {
        float: left;
    }

    #StoreInfo {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #StoreInfos, #StoreInfo th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #StoreInfo tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #StoreInfo tr:hover, #StoreInfo {
            background-color: #ddd;
        }

            #StoreInfo th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }

    #StoreInfo {
        float: left;
    }
</style>
<nav class="employee-links" style="padding-top:15px;">
    <a class="btn btn-default" stlye="margin:10px;" href="./">Back to Employee Section</a>
    <a class="btn btn-default" stlye="margin:10px;" asp-page="../Logout">Logout</a>
</nav>
<h1 style="text-align:center;">Sales Report Page</h1>
@if (!String.IsNullOrEmpty(Model.sD) && !String.IsNullOrEmpty(Model.eD))
{
    <h3 style="text-align:center;">Between @Model.sD and @Model.eD</h3>
}
else if (!String.IsNullOrEmpty(Model.sD) && String.IsNullOrEmpty(Model.eD))
{
    <h3 style="text-align:center;">@Model.sD</h3>
}
@if(!String.IsNullOrEmpty(Model.sT) && !String.IsNullOrEmpty(Model.eT))
{
    <h3 style="text-align:center;">Between @Model.sT and @Model.eT</h3>

}
<div class="container collapse" id="reportSearchFields">
    <form method="get">
        <div class="row">
            <div id="rangeDiv" class="col-sm-4 form-group">
                <h2>By Date</h2>
                <div class="form-group">
                    <label for="startDate" id="sDLbl">Starting Date</label>
                    <input type="text" id="startDate" name="startDate" class="dateSelection form-control" value="@Model.sD" />
                </div>
                <div class="form-group">
                    <label for="endDate" id="endDateLabel">Ending Date</label>
                    <input type="text" id="endDate" name="endDate" class="dateSelection form-control" value="@Model.eD" style="" />
                </div>
                <p>Only select starting date for single day results.</p>
            </div>

            <div id="timeGenerator" class="form-group col-sm-4">
                <h2>By Time</h2>
                <div>
                    <label for="startTime">Time</label>
                    <input type="text" name="startTime" class="timeSelection form-control" value="@Model.sT" />
                </div>
                <div>
                    <label for="endTime">Ending Time</label>
                    <input type="text" name="endTime" class="timeSelection form-control" value="@Model.eT" />
                </div>
            </div>

            <div id="storeGenerator" class="form-group col-sm-4">
                <h2>By Store</h2>
                <label for="storeSelect">Select Store</label>
                <select name="storeSelect" id="storeSelection" class="form-control">
                    <option value="none"></option>
                    @for (int i = 0; i < Model.SInt; i++)
                    {
                        @if (Model.StoreResults[i][0] == Model.sS.ToString())
                        {
                            <option value="@Model.StoreResults[i][0]" selected>@Model.StoreResults[i][1]</option>
                        }
                        else
                        {
                            <option value="@Model.StoreResults[i][0]">@Model.StoreResults[i][1]</option>

                        }
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div id="employeeGenerator" class="form-group col-sm-4">
                <h2>By Employee</h2>
                <div>
                    <label for="employeeSearch">Employee</label>
                    <select name="employeeSearch" id="employeeSearch" class="form-control" style="width:100%; display:block;">
                        <option value="none"></option>
                        @for (int i = 0; i < Model.EInt; i++)
                        {
                            <option value="@Model.EmployeeResults[i][0]">@Model.EmployeeResults[i][1], @Model.EmployeeResults[i][2]</option>

                        }
                    </select>

                </div>
                <div>
                    <label for="employeeID">Employee ID</label>
                    <input type="number" name="employeeID" class="form-control" id="eID" />

                </div>
            </div>
            <div id="productGenerator" class="form-group col-sm-4">
                <h2>By Product</h2>
                <label for="productName">Product Name</label>
                <select name="productName" id="productName" class="form-control">
                    <option value="none"></option>
                    @for (int i = 0; i < Model.ProductResults.Count(); i++)
                    {
                        <option value="@Model.ProductResults[i][0]">@Model.ProductResults[i][1]</option>

                    }
                </select>
                <label for="productID">Product ID</label>
                <input type="number" name="productID" id="productID" class="form-control" />

            </div>
        </div>
        <div class="row">
            <div class="form-group col" style="text-align:center;">
                <input type="submit" class="btn btn-primary" value="Generate Report" />
            </div>
        </div>
    </form>
</div>
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#reportSearchFields">Show/Hide Search Fields</button>
<div id="resultsContainer">
    @if (Model.BInt >= 4)
    {
        <canvas id="myChart" width="400" height="150"></canvas>
    }
    @if (Model.BInt == 0)
    {
        <span class="noResults">No results were found</span>
    }
    else if (Model.BInt > 0)
    {
        // Do an hourly result for the graph if less than 4?
        <div style="padding-bottom:15px; font-size:large;"><span id="totalLabel" class="col-sm-3" style="text-align:right; font-weight:bolder; padding-right:15px;">Total Sales for timespan:&nbsp;</span><span id="totalCell" class="col-sm-9">&nbsp;</span></div>
        <div style="padding-bottom:15px; font-size:large; display:none;"><span id="avgLabel" class="col-sm-3" style="text-align:right; font-weight:bolder; padding-right:15px;">Average Per Day:&nbsp;</span><span id="avgCell" class="col-sm-9">&nbsp;</span></div>
        if (Model.pID == -1)
        {
            <div style="padding-bottom:15px; font-size:large;"><span id="tixSold" class="col-sm-3" style="text-align:right; font-weight:bolder; padding-right:15px;">Tickets Sold:&nbsp;</span><span id="tixTotal" class="col-sm-9">@Model.ticketsSold</span></div>
        }
        <table id="report" class="table table-hover">
            <thead>
                <tr>
                    @for (int i = 0; i < Model.AInt; i++)
                    {
                        <th>@Model.ViewColumns[i]</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.BInt; i++)
                {
                    <tr>
                        <td>@DateTime.Parse(Model.ViewResults[i][0]).ToString("yyyy/MM/dd", System.Globalization.CultureInfo.GetCultureInfo("en-US"))</td>
                        <td>@Model.ViewResults[i][1]</td>

                    </tr>
                }

            </tbody>
        </table>

    }


</div>

<script>
    $(document).ready(function () {
        $("form").submit(function () {
            $("input").each(function (index, obj) {
                if ($(obj).val() == "") {
                    $(obj).remove();
                }
            });
            $("select").each(function (index, obj) {
                if ($(obj).val() == "none") {
                    $(obj).remove();
                }
            });
        });
    });
    $(".dateSelection").each(function () {
        $(this).datepicker({
            dateFormat: "yy/mm/dd"
        });
    });

    var productId = document.getElementById("productID");
    var productName = document.getElementById("productName");
    productName.addEventListener("change", function () {
        if (productName.value == "none")
            productId.value = "";
        else
            productId.value = productName.value;
    });

    var reportTable = document.getElementById("report");
    var tableData = [];
    var tableDates = [];
    var avg = 0;
    var bInt = @Model.BInt;
    console.log(bInt);

    for (i = 0; i < bInt; i++) {
        console.log(reportTable.children[1].children)
        var date = reportTable.children[1].children[i].children[0].innerHTML;
        console.log("date: " + date);
        var value = parseInt(reportTable.children[1].children[i].children[1].innerHTML);

        avg += value;
        console.log(avg);
        tableData.push(value);
        date = new Date(date.replace(/-/g, "/"));
        date = new Date(date.toDateString());
        console.log(date);
        tableDates.push(date);
    }
    document.getElementById("totalCell").innerHTML = "$" + avg.toFixed(2);
    avg = avg / bInt;
    if (bInt >= 2) {
        console.log("avg: " + avg);
        var avgCell = document.getElementById("avgCell");
        avgCell.innerHTML = "$" + avg.toFixed(2);
        avgCell.parentElement.style.display = "";

    }

    if (bInt >= 4) {
        console.log(tableDates);
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: tableDates,
                datasets: [{
                    label: 'Sales',
                    data: tableData,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            //unit: 'day',
                            displayFormats: {
                                month: 'MMM YYYY',
                                hour: 'MMM D'
                            }

                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Date"
                        }

                    }],
                    yAxes: [{
                        ticks: {
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return '$' + value;
                            }
                        },
                        scaleLabel: {
                            display: true,
                            labelString: "Sales"
                        }
                    }]
                }
            }
        });
    }
    $(document).ready(function () {
        $('#report').DataTable({
            "order": []
        });
    });

    $(document).ready(function () {
        $('#employeeSearch').select2();
    });

    $('#employeeSearch').on('select2:select', function (e) {
        console.log("triggered")
        var data = e.params.data;
        console.log(data);
        document.getElementById("eID").value = data.id;
    });
</script>