@page
@model SearchModel
@{
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<style>
    #results {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #results td, #results th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #results tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #results tr:hover {
            background-color: #ddd;
        }

        #results th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    #attributeType {
        width: 800px;
        font-size: 12pt;
    }

    #entityType {
        width: 800px;
        font-size: 12pt;
    }

    #whereType {
        width: 800px;
        font-size: 12pt;
    }

    #otherType {
        width: 800px;
        font-size: 12pt;
    }
</style>
@if (!String.IsNullOrEmpty(@Model.successMessage))
{
    <div class="alert alert-success">
        <strong>Success!</strong> @Model.successMessage
    </div>
}
<nav class="employee-links" style="padding-top:15px;">
    <a class="btn btn-default" stlye="margin:10px;" href="./">Back to Employee Section</a>
    <a class="btn btn-default" stlye="margin:10px;" asp-page="../Logout">Logout</a>
</nav>
<h1>Search</h1>

@{
    <!--
    <form method="post">
        <div>
            <label for="Attributes">SELECT which attributes?</label>
            <input id="attributeType" type="text" name="attributeType" value="@Model.whichAttributes" />
            <br />
            <label for="Entity">Entity to Search FROM</label>
            <input id="entityType" type="text" name="entityType" value="@Model.whichEntity" />
            <br />
            <label for="Where">Enter WHERE parameters</label>
            <input id="whereType" type="text" name="whereType" value="@Model.whichWhere" />
            <br />
            <label for="Other">Other Parameters</label>
            <input id="otherType" type="text" name="otherType" value="@Model.whichOther" />
            <br />
            <input type="submit" value="Search" />
            <br />
            Enter * for all atributes, comma seperate multiple attributes (ID, Title)<br />
            Leave blank for no WHERE condition<br />
        </div>
    </form>
        -->
    if (Model.whichEntity != "")
    {
        <div id="search-fields" class="container collapse">
            <form class="form-horizontal" method="post">
                @for (int i = 0; i < Model.AInt; i++)
                {
                    <div class="form-group">
                        <label for="@Model.ColumnNames[i]" class="control-label col-sm-2">@Model.ColumnNames[i]</label>
                        <div class="col-sm-10">
                            @if (Model.ColumnNames[i] == "Attraction" || Model.ColumnNames[i] == "MembershipType" || Model.ColumnNames[i] == "Pay_option"
                         || Model.ColumnNames[i] == "Manager")
                            {
                                <select name="@Model.ColumnNames[i]" class="form-control">
                                    <option></option>

                                    @for (int j = 0; j < Model.Results2.Count(); j++)
                                    {
                                        <option value="@Model.Results2[j][0]">@Model.Results2[j][1]</option>
                                    }
                                </select>
                            }
                            else if (Model.ColumnNames[i] == "Store")
                            {
                                <select name="@Model.ColumnNames[i]" class="form-control">
                                    <option></option>
                                    @for (int j = 0; j < Model.Results3.Count(); j++)
                                    {
                                        <option value="@Model.Results3[j][0]">@Model.Results3[j][1]</option>
                                    }
                                </select>

                            }
                            else if (Model.ColumnNames[i] == "Title")
                            {
                                <select name="@Model.ColumnNames[i]" class="form-control">
                                    <option></option>
                                    @for (int j = 0; j < Model.Results4.Count(); j++)
                                    {
                                        <option value="@Model.Results4[j][0]">@Model.Results4[j][1]</option>
                                    }
                                </select>

                            }
                            else if (Model.ColumnNames[i] == "Gender")
                            {
                                <select name="@Model.ColumnNames[i]" class="form-control">
                                    <option></option>
                                    @for (int j = 0; j < Model.Results5.Count(); j++)
                                    {
                                        <option value="@Model.Results5[j][0]">@Model.Results5[j][1]</option>
                                    }
                                </select>
                            }
                            else if (Model.ColumnNames[i] == "Status_date" || Model.ColumnNames[i] == "Health_date" || Model.ColumnNames[i] == "ExpirationDate"
                            || Model.ColumnNames[i] == "Hire_Date" || Model.ColumnNames[i] == "Date" || Model.ColumnNames[i] == "Birth Date"
                            || Model.ColumnNames[i] == "Open_closed_date" || Model.ColumnNames[i] == "Manager_date")
                            {
                                <input type="text" class="dateSelection form-control" name="@Model.ColumnNames[i]" />
                            }
                            else if (Model.ColumnNames[i] == "ID" || Model.ColumnNames[i] == "Gender" || Model.ColumnNames[i] == "Height" || Model.ColumnNames[i] == "Weight"
                            || Model.ColumnNames[i] == "Zip" || Model.ColumnNames[i] == "Phone#" || Model.ColumnNames[i] == "Phone" || Model.ColumnNames[i] == "ZipAddress"
                            || Model.ColumnNames[i] == "Price" || Model.ColumnNames[i] == "Customer" || Model.ColumnNames[i] == "Employee" || Model.ColumnNames[i] == "Receipt"
                            || Model.ColumnNames[i] == "Product" || Model.ColumnNames[i] == "Quantity" || Model.ColumnNames[i] == "Type")
                            {
                                <input type="number" class="form-control" name="@Model.ColumnNames[i]" />
                            }
                            else if (Model.ColumnNames[i] == "Email")
                            {
                                <input type="email" class="form-control" name="@Model.ColumnNames[i]" />
                            }
                            else
                            {
                                <input type="text" class="autocomplete form-control" name="@Model.ColumnNames[i]" />
                            }
                        </div>
                    </div>
                }
                <div style="text-align:center;">
                    <input type="submit" class="btn btn-primary" value="Search" />
                </div>
            </form>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#search-fields">Show/Hide Search Fields</button>

    }
}

<h2 style="text-transform: capitalize;">@Model.whichEntity</h2>
<a class="btn btn-default" style="margin-bottom:15px;" href="./Insert?we=@Model.whichEntity">Add New @Model.whichEntity</a>
@{
    if (Model.whichEntity != "")
    {
<div style="overflow-x:scroll !important;">
    <table id="resultsTable" class="table table-hover">
        <thead>
            <tr>
                <th></th>
                @for (int i = 0; i < Model.AInt; i++)
                {
                    <th>@Model.ColumnNames[i]</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.BInt; i++)
            {
                <tr>
                    <td><a href="./Update?we=@Model.whichEntity&id=@Model.Results[i][0]" class="btn btn-default" style="padding:3px 10px 3px 10px;">Edit</a></td>
                    @for (int j = 0; j < Model.AInt; j++)
                    {
                        <td>@Model.Results[i][j]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
    }
    <p>@Model.AMessage</p>
    <p>@Model.AInt</p>

    if (Model.ResultsHidden.Count() > 0)
    {
        <!--if (Model.whichAttributes == "*")
        {-->
        <!-- Table for results of Title_type-->
        <table id="resultsTableHidden" style="display:none;">

            <tr>
                <th></th>
                @for (int i = 0; i < Model.AInt; i++)
                {
                    <th>@Model.ColumnNames[i]</th>
                }
            </tr>
            @for (int i = 0; i < Model.CInt; i++)
            {
                <tr>
                    <td><a href="./Update?we=@Model.whichEntity&id=@Model.ResultsHidden[i][0]">Edit</a></td>
                    @for (int j = 0; j < Model.AInt; j++)
                    {
                        <td>@Model.ResultsHidden[i][j]</td>
                    }
                </tr>
            }
        </table>
        <!--}-->
    }

    <script>

        $(".dateSelection").each(function () {
            $(this).datepicker({
                dateFormat: "yy/mm/dd"
            });
        });

        $(".dateTimeSelection").each(function () {
            var postField = this;
            postField.style.display = "none";
            var dateField = document.createElement("input");
            dateField.placeholder = "Date";
            $(dateField).datepicker({
                dateFormat: "mm/dd/yy"
            });
            var timeField = document.createElement("input");
            timeField.placeholder = "Time";
            timeField.addEventListener("change", function () { postField.value = dateField.value + " " + timeField.value });
            this.parentElement.append(dateField);
            this.parentElement.append(timeField);

        });
        var resultsTable = document.getElementById("resultsTableHidden") || document.getElementById("resultsTable");

        $(".autocomplete").each(function () {
            var fieldName = this.name;
            //var resultsTable = document.getElementById("resultsTable");
            var resultsHeaders = resultsTable.querySelectorAll("th");
            var nameHeaderIndex = -1;
            //console.log(resultsHeaders);
            for (i = 0; i < resultsHeaders.length; i++) {
                if (fieldName == resultsHeaders[i].innerHTML) {
                    nameHeaderIndex = i;
                    break;
                }
            }
            if (nameHeaderIndex != -1)
                console.log(resultsHeaders[i].innerHTML)
            else
                console.log("Error finding name in header row")
            console.log(resultsTable.children[0].children.length);
            var availableTags = [];
            for (i = 1; i < resultsTable.children[0].children.length; i++) {
                //console.log(resultsTable.children[i].cells[nameHeaderIndex].innerHTML);
                //console.log(resultsTable.children[0].children[i].cells[nameHeaderIndex].innerHTML);
                availableTags.push(resultsTable.children[0].children[i].cells[nameHeaderIndex].innerHTML);
            }
            console.log(availableTags);
            $(this).autocomplete({
                source: availableTags
            });
        });

        $(document).ready(function () {
            $('#resultsTable').DataTable();
        });
    </script>
}
