@page
@model UpdateModel
@{
}
@if (!String.IsNullOrEmpty(@Model.successMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong> @Model.successMessage
    </div>
}
<nav class="employee-links" style="padding-top:15px;">
    <a class="btn btn-default" stlye="margin:10px;" href="./">Back to Employee Section</a>
    <a class="btn btn-default" stlye="margin:10px;" asp-page="../Logout">Logout</a>
</nav>
<h1>Update</h1>
<!--
<form method="post">
    <input type="text" name="command" value="" style="width: 800px;" />
    <input type="submit" value="Submit" />
</form>
    -->
<h2>@Model.whichEntity</h2>
<a class="btn btn-default" stlye="margin:10px;" href="./Search?we=@Model.whichEntity">Back to Search</a>
@{
    if (Model.whichEntity != "")
    {
        <form method="post" class="form-horizontal">
            @for (int i = 0; i < Model.BInt; i++)
            {
                @for (int j = 0; j < Model.AInt; j++)
                {
                    <div class="form-group">
                        <label for="@Model.ColumnNames[j]" class="control-label col-sm-2">@Model.ColumnNames[j]</label>
                        <div class="col-sm-10">
                            @if (Model.ColumnNames[j] == "Birth Date" || Model.ColumnNames[j] == "Status_date" || Model.ColumnNames[j] == "Open_closed_date"
                               || Model.ColumnNames[j] == "Manager_date" || Model.ColumnNames[j] == "Hire_Date" || Model.ColumnNames[j] == "ExpirationDate"
                               || Model.ColumnNames[j] == "Date" || Model.ColumnNames[j] == "Health_date")
                            {
                                <input type="text" class="dateSelection form-control" name="@Model.ColumnNames[j]" value="@Model.Results[i][j]" />
                            }
                            else if (Model.ColumnNames[j] == "ID" || (Model.ColumnNames[j] == "Receipt" && Model.whichEntity == "PURCHASE"))
                            {
                                <input type="number" disabled name="@Model.ColumnNames[j]" class="form-control" value="@Model.Results[i][j]" />

                            }
                            else if (Model.ColumnNames[j] == "Gender" || Model.ColumnNames[j] == "Height" || Model.ColumnNames[j] == "Weight"
                            || Model.ColumnNames[j] == "Zip" || Model.ColumnNames[j] == "Phone#" || Model.ColumnNames[j] == "Phone" || Model.ColumnNames[j] == "ZipAddress"
                            || Model.ColumnNames[j] == "Price" || Model.ColumnNames[j] == "Customer" || Model.ColumnNames[j] == "Employee" || Model.ColumnNames[j] == "Receipt"
                            || Model.ColumnNames[j] == "Product" || Model.ColumnNames[j] == "Quantity" || Model.ColumnNames[j] == "Type" || Model.ColumnNames[j] == "Title"
                            || Model.ColumnNames[j] == "Store" || Model.ColumnNames[j] == "Attraction" || Model.ColumnNames[j] == "MembershipType" || Model.ColumnNames[j] == "Pay_option"
                            || Model.ColumnNames[j] == "Manager")
                            {
                                <input type="number" name="@Model.ColumnNames[j]" class="form-control" value="@Model.Results[i][j]" />
                            }
                            else if (Model.ColumnNames[j] == "Email")
                            {
                                <input type="email" name="@Model.ColumnNames[j]" class="form-control" value="@Model.Results[i][j]" />
                            }
                            else
                            {
                                <input type="text" name="@Model.ColumnNames[j]" class="form-control" value="@Model.Results[i][j]" />
                            }
                        </div>
                    </div>
                }
            }
            <div style="text-align:center;">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </form>
        <!--}-->
    }
}
<p>@Model.EMessage</p>
<script>
    $(".dateSelection").each(function () {
        $(this).datepicker({
            dateFormat: "yy/mm/dd"
        });
    });

    $(".dateTimeSelection").each(function () {
        var postField = this;
        postField.style.display = "none";
        var dateField = document.createElement("input");
        dateField.placeholder = "Date";
        $(dateField).datepicker({
            dateFormat: "mm/dd/yy"
        });
        var timeField = document.createElement("input");
        timeField.placeholder = "Time";
        timeField.addEventListener("change", function () { postField.value = dateField.value + " " + timeField.value });
        this.parentElement.append(dateField);
        this.parentElement.append(timeField);

    });
</script>