@page
@model UpdateModel
@{
}
<nav class="employee-links">
    <a asp-page="./Insert">Insert</a>
    <a asp-page="./SalesReports">Sales Reports</a>
    <a asp-page="./Search">Search</a>
    <a asp-page="./Update">Update</a>
    <a asp-page="../Logout">Logout</a>
</nav>
<a href="./">Back to Employee Section</a>
<h1>Update</h1>
<!--
<form method="post">
    <input type="text" name="command" value="" style="width: 800px;" />
    <input type="submit" value="Submit" />
</form>
    -->
<h2>@Model.whichEntity</h2>
@{
    if (Model.whichEntity != "")
    {
        <!--if (Model.whichAttributes == "*")
        {-->
        <!-- Table for results of Title_type-->
<form method="post">
    <table style="width:100%; border:1px solid black; padding:15px">

        <tr>
            <th></th>
            @for (int i = 0; i < Model.AInt; i++)
            {
                <th>@Model.ColumnNames[i]</th>
            }
        </tr>

        @for (int i = 0; i < Model.BInt; i++)
        {
            <tr>
                <td><a href="./Update?we=@Model.whichEntity&id=@Model.Results[i][0]">Edit</a></td>
                @for (int j = 0; j < Model.AInt; j++)
                {
                    if (Model.ColumnNames[j] == "Birth Date" || Model.ColumnNames[j] == "Status_date" || Model.ColumnNames[j] == "Open_closed_date" 
                        || Model.ColumnNames[j] == "Manager_date" || Model.ColumnNames[j] == "Hire_Date" || Model.ColumnNames[j] == "ExpirationDate"
                        || Model.ColumnNames[j] == "Date" || Model.ColumnNames[j] == "Health_date")
                    {
                        <td><input type="text" class="dateSelection" name="@Model.ColumnNames[j]" value="@Model.Results[i][j]" /></td>
                    }
                    else
                    {
                        <td><input type="text" name="@Model.ColumnNames[j]" value="@Model.Results[i][j]" /></td>
                    }
                }
            </tr>
        }

    </table>
    <input type="submit" value="Submit" />
</form>
        <!--}-->
    }
    <p>@Model.AInt</p>
}
<p>@Model.dbCommand</p>
<p>@Model.EMessage</p>
<script>    
    $(".dateSelection").each(function () {
        $(this).datepicker({
            dateFormat: "yy/mm/dd"
        });
    });

    $(".dateTimeSelection").each(function () {
        var postField = this;
        postField.style.display = "none";
        var dateField = document.createElement("input");
        dateField.placeholder = "Date";
        $(dateField).datepicker({
            dateFormat: "mm/dd/yy"
        });
        var timeField = document.createElement("input");
        timeField.placeholder = "Time";
        timeField.addEventListener("change", function () { postField.value = dateField.value + " " + timeField.value });
        this.parentElement.append(dateField);
        this.parentElement.append(timeField);

    });
</script>