@page
@model SearchModel
@{
}


<br />
<br />
@{
    <form method="post">
        <div>
            <label for="Attributes">SELECT which attributes?</label>
            <input type="text" name="attributeType" value="@Model.whichAttributes" />
            <br />
            <label for="Entity">Entity to Search FROM</label>
            <input type="text" name="entityType" value="@Model.whichEntity" />
            <br />
            <label for="Where">Enter WHERE parameters</label>
            <input type="text" name="whereType" value="@Model.whichWhere" />
            <br />
            <input type="submit" value="Search" /><br />
            Enter * for all atributes, comma seperate multiple attributes (ID, Title)<br />
            Leave blank for no WHERE condition<br />
        </div>
    </form>
}

<h2>@Model.whichEntity</h2>

<!-- Table for results of Title_type-->
<table style="width:100%">
    <!-- Column Names-->
    <tr>
        <th>ID</th>
        <th>Type</th>
    </tr>

    <!-- Column Values-->
    @for (int i = 0; i < Model.IDResults.Count; i++)
    {
        <tr>
            <th>@Model.IDResults[i]</th>
            <th>@Model.TypeResults[i]</th>
        </tr>
    }
</table>